:root{
    --corEscura:#060d18;
    --corMedia:#b6b6b6;
    --corMain:#a2d5e1;
    --corMainFundo:rgb(45, 45, 45);
    --corMuitoClara:#212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    background-color: rgb(29, 29, 29);

}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: var(--corMedia);
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.container-imagem{
    width: 100%;
    height: 100%;
    width: 400px;
    background: url(./assets/bg6.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.container-imagem:hover{
  width: 430px;
  transition: all .5s ease-in-out;

}
.screen{
    display: none;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.screen.active{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.screen .form{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    z-index: 10;
    background-color: var(--corMuitoClara);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.screen .form-input{
    width: 70%;
    margin: 20px 0px;
}
.screen h2{
    margin-bottom:20px;
    font-size: 30px;
    color: var(--corMain);
    border-bottom: 4px solid #555;
    padding: 5px 0px;
    display: inline-block;
}
.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}
.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}
.screen .form-input button{
    padding: 10px 20px;
    background-color: #111;
    color: #eee;
    cursor: pointer;
    outline: none;
    border: none;
}


.chat-screen .header{
    background-color: var(--corMuitoClara);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.chat-screen .header .logo{
    font-size: 18px;
    color: #c2c2c2;
    font-weight: 600;
}
.chat-screen .header button{
    padding: 5px 80px;
    border: 1px solid #eee;
    background: transparent;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    outline: none;
}

.chat-screen .messages{
    width: 100%;
    height: calc(100% - 100px);
    background-color: var(--corMedia);
    overflow: auto;
}
.chat-screen .messages .message{
    display: flex;
    padding: 10px;
}
.chat-screen .messages .message > div{
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
}
.chat-screen .messages .message.my-message{
    justify-content: flex-end;
}
.chat-screen .messages .message.other-message{
    justify-content: flex-start;
}
.chat-screen .messages .message .name{
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}
.chat-screen .messages .message .text{
    word-wrap: break-word;
}
.chat-screen .messages .update{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.chat-screen .typebox{
    width: 100%;
    height: 50px;
    display: flex;
}
.chat-screen .typebox input{
    flex: 1;
    height: 50px;
    font-size: 16px;
    padding-left: .5em;
    outline: none;
}
#message-input::placeholder{
  transform: translateX(.5em);
}
.chat-screen .typebox #key{
  width: 20%;
}
.chat-screen .typebox button{
    width: 80px;
    height: 100%;
    background: var(--corMuitoClara);
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
.entrou{
    color: #eee;
    text-align: center;
}


/* button entrar style */
.button {
    display: flex;
  }
  
  .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(58, 165, 253);
    overflow: hidden;
  }
  
  .box:before {
    content: "E";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'N';
  }
  
  .box:nth-child(3)::before {
    content: 'T';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'R';
  }
  
  .box:nth-child(5)::before {
    content: 'A';
  }
  .box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'R';
  }
 
  
  .button:hover .box:before {
    transform: translateY(0);
  }

  /* button exit style */
  .exit {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   }
   
   .exit span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
   }
   
  .exit span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
   }
   
   .exit:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--corEscura);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
   }
   
   .exit:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
   }
   
   .exit:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
   }


   /* Username input */
   .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 1em;
    transform: translateY(-5px);
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-35px);
  }

  /* responsiviade */
  @media (max-width: 760px)
  {
   .container-imagem{
    display: none;
   }
  }